<div >

    <h1 class="headline">Movies:</h1>
    <br/>
    <div class="sortBy">
        <strong id="sortByID">Sort by:</strong>
        <select ng-model="sortSelected" ng-change="sortHandler()"  id="selectID">
            <option value="Category">Category</option>
            <option value="Name">Name</option>
            <option value="Price">Price</option>
            <option value="Year">Year</option>
        </select>
        <strong id="choseCategory">Choose Category:</strong>
        <select ng-model="selected" ng-change="selectedHandler()" id="catOpt" ng-options="category.CategoryName for category in categories">
        </select>
    </div>
    <ul>

        <div ng-repeat="movie in movies | orderBy:sortChoice">

            <div  class="frame">
                <!--<div id="imageDiv">-->
                <img ng-src="{{movie.Image}}" style="float:left ;width:100px;" />
                <!-- </div>-->
                <h3>&nbsp;&nbsp;{{movie.Name}}</h3>
                <ul class = "topFive">
                    <p><b>&nbsp;&nbsp;Price: </b>{{movie.Price | currency}}</p>
                    <p><b>&nbsp;&nbsp;Year: </b>{{movie.Year}}</p>
                </ul>
                <ul >
                    <p><b>&nbsp;&nbsp;Director: </b>{{movie.Director}}</p>
                    <p><b>&nbsp;&nbsp;Category: </b>{{movie.Category}}</p>
                    <!--<form ng-submit="addToCartHandler()">
                        <input type="submit" value="Add to Cart"/>
                    </form>-->
                    <button class="buttonC" ng-click="addToCartHandler(movie);" ng-show="isLoggedIn">Add to Cart</button>

                </ul>



                <br>
                <br>

                <p><b>Description: </b>{{movie.Description}}</p>


                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <!--<div class="remove" ng-click="removeGame(game)">x</div>-->
            </div>
            <br>
        </div>

    </ul>
    <div ng-show="isLoggedIn">
    <h1 class="headline">Recommended Movies:</h1>
    <br/>
    <div ng-repeat="movie in recommendedMovies">

        <div  class="frame">
            <!--<div id="imageDiv">-->
            <img ng-src="{{movie.Image}}" style="float:left ;width:100px;" />
            <!-- </div>-->
            <h3>&nbsp;&nbsp;{{movie.Name}}</h3>
            <ul class = "topFive">
                <p><b>&nbsp;&nbsp;Price: </b>{{movie.Price | currency}}</p>
                <p><b>&nbsp;&nbsp;Year: </b>{{movie.Year}}</p>
            </ul>
            <ul >
                <p><b>&nbsp;&nbsp;Director: </b>{{movie.Director}}</p>
                <p><b>&nbsp;&nbsp;Category: </b>{{movie.Category}}</p>
                <!--<form ng-submit="addToCartHandler()">
                    <input type="submit" value="Add to Cart"/>
                </form>-->
                <button class="buttonC" ng-click="addToCartHandler(movie);">Add to Cart</button>

            </ul>



            <br>
            <br>

            <p><b>Description: </b>{{movie.Description}}</p>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!--<div class="remove" ng-click="removeGame(game)">x</div>-->
        </div>
        <br>
    </div>

    </div>

</div>


